
body {
  font-family: "Microsoft yahei", Helvetica, Arial, Simsun, sans-serif;
  font-size: 20px;
  color: #333;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li
{
  margin: 0;
  padding: 0;
}
input, textarea {
  font-family: "Microsoft yahei", Helvetica, Arial, Simsun, sans-serif;
}
ul, ol { list-style: none; }
a { text-decoration: none; }

table { border-collapse: collapse; border-spacing: 0; }

.app-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 2px;
  background-color: #fff;
}

.app-popup-close {
  position: absolute;
  width: 28px;
  height: 28px;
  right: -30px;
  top: -30px;
  /* background: url("../../assets/images/icon_s_close.png"); */
  background-size: 100%;
  z-index: 1;
  cursor: pointer;
}

.app-shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9998;
}
.video-player.vjs-custom-skin > .video-js .vjs-big-play-button {
  width: 80px!important;
  height: 80px!important;
  line-height: 80px!important;
  margin-left: -40px;
  border-radius: 50%;
}
.logo-video {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 999;
  top:0;
  opacity: .6;
  right: 10px;
}
.vjs-fullscreen .logo-video {
  width: 80px;
  height: 80px;
}
.vjs-custom-skin > .video-js .vjs-volume-panel {
  padding-top: 3px;

}
.tip.el-tooltip__popper.is-dark {
  background: rgba(0, 0, 0, 0.5);
}
.tip .popper__arrow {
  border-top-color:rgba(0, 0, 0, 0.4)!important;
}
.tip .popper__arrow::after {
  border-top-color:rgba(0, 0, 0, 0.4)!important;
}
.full-btn > .video-js .vjs-control-bar .vjs-fullscreen-control {
  position: absolute;
  right: 0;
}
.row-start {
  display: flex;
  align-items: center;
}
.row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}